---
Language: Cpp
BasedOnStyle: LLVM

IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100

AccessModifierOffset: -4
AlignAfterOpenBracket: Align
AllowShortFunctionsOnASingleLine: Inline
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBraces: Attach
FixNamespaceComments: true
NamespaceIndentation: None
PointerAlignment: Left
SpaceAfterTemplateKeyword: false
Standard: c++20

# <cabral/...> agrupado separadamente das bibliotecas do sistema.
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<cabral/'
    Priority: 1
  - Regex: '^<.*\.h>'
    Priority: 3
  - Regex: '^<.*>'
    Priority: 2
  - Regex: '.*'
    Priority: 4
---
